hf_xet
sentence-transformers
faiss-gpu
numpy<2
sentencepiece
requests
beautifulsoup4
langchain-community
langchain
tiktoken
unstructured
newspaper3k
lxml[html_clean]
fastapi
uvicorn
jinja2
python-multipart
websockets